body {
	padding-top:134px;
	font-family:'Cambria Bold','Cambria';
}
/* Navbar */
.navbar {
	margin-bottom:0;
	border:0;
}
.navbar-fixed-top .nav {
	padding:25px 0;
}
.navbar-fixed-top .navbar-form {
	padding-top:25px;
	padding-bottom:25px;
}
.navbar {
	border-width:thin;
	-webkit-transition:.2s;
	background-color:white;
	border-bottom:1px solid #e0e0e0;
	background-color: rgba(255, 255, 255, 0.9);
}
.navbar a {
	color:black;
}
.navbar-fixed-top .navbar-brand {
	padding:5px 0px;
	margin-left:15px;
	margin-right:50px;
}
.navbar-header .icon-bar {
	background-color:black;
}
.navbar-nav > li > .navbar-active {
	background-color:#006EB8;
}
.navbar-scroll {
	background-color:white;
	animation-duration:2s;
	animation-name:smooth;
	-moz-box-shadow:1px 1px 1px #999;
	-webkit-box-shadow:1px 1px 1px #999;
	box-shadow:1px 1px 1px #999;
}
.navbar-logo {
	height:60px;
}
.nav > li > a {
	padding:12px 12px 10px;
	font-weight:700;
	font-size:18px;
	color:#666666;
}
.nav > li.active > a {
	color:#006EB8;
	background-color:transparent;
}
.nav > li > a:hover {
	color:#006EB8;
	-webkit-transition:.2s;
	background-color:transparent;
}
.nav > li > a:focus {
	color:#006EB8;
	-webkit-transition:.2s;
	background-color:transparent;
}
.nav > li > a:active {
	background-color:transparent;
}
.nav > li > a:visited {
	background-color:transparent;
}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {
	color:#006EB8;
	background-color:transparent;
}

.navbar-fixed-top form.navbar-right {
	padding-top:15px;
	padding-bottom:15px;
	padding-right:15px;
	margin-right:0;
}
/* top-dark */

.top-dark{
	background:#171c2d;
	width:100%;
}
.top-dark{
	color:#999999;
	font-size:12px;
	font-weight:700;
}
.top-dark a{
	color:#999999;
	font-size:12px;
}
.top-dark ul{
	margin-bottom:0;
}
.top-dark ul li{
	line-height: 40px;
	border-left: 1px solid #444;
	padding: 0px 10px;
}
.top-dark ul li:hover,.top-dark ul li a:hover{
	color:#fff;
	text-decoration:none;
}
.top-dark .TopNavContent {
    padding: 0 10px 0px 10px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.alert-success{
	color: #fff;
	background-color: #0077b5;
	border-color: #0077b5;
}
.alert-success a{
	color: #fff;
}
.learn-more{
	border:2px #fff solid;
	background-color:transparent;
}
.learn-more:hover{
	border:2px #fff solid;
	background-color:transparent;
}
/* jumbotron */
.jumbotron {
	padding:0;
	margin:0;
}
.bgimage{
	height:600px;
}
.ban_cen{
	color:#fff;
	margin-top:68px;
}
.ban_cen h1{
	margin-top:68px;
	margin-bottom:40px;
}
.ban_cen p{
	font-size:3rem;
}
/* containn */
.h_40{
	width:100%;
	height:40px;
}
.h_20{
	width:100%;
	height:20px;
}
.h_10{
	width:100%;
	height:10px;
}
.containn h1{
	color:#006EB8;
}

.about-text-r{
	padding-left:15px;
	padding-right:15px;
}
.containn h3{
	color:#006EB8;
}
.containn p {
    font-size: 14px;
    color: #555;
    line-height: 24px;
    margin: 0 0 20px;
}
.containn .dl_row dt{
	position:relative;
}
.containn .dl_row h4{
	color:#006EB8;
	padding-left:1.7em;
}

.containn .dl_row span{
	border-radius: 50%;
	position:absolute;
	left:0;
}
.containn .dl_row p{
	padding-left:3rem;
	padding-right:3rem;
}
.mgt_20{
	margin-top:20px;
}
.mgt_10{
	margin-top:10px;
}
.con_nav ul li{
	padding:0;
	border-left:0;
	border-right:2px #ddd solid;
}
.con_nav ul li:first-child{
	border-top-color:#fff;
}
.con_nav ul li:last-child{
	border-bottom-color:#fff;
}
.con_nav ul li a{
	display:block;
	width:100%;
	height:100%;
	color:#666666;
	font-size:16px;
	font-weight:700px;
	padding:10px 15px;
	text-decoration:none;
	font-weight:700;
}
.con_nav ul li:hover ,.con_nav ul li.on{
	 border-right:4px #006EB8 solid;
}
.con_nav ul li:hover a,.con_nav ul li.on a{
	color:#333333;
}
.photo .thumbnail{
	padding:0;
}
.photo .thumbnail .cap_t{
	padding:0.3rem;
}
.photo .thumbnail .cap_t img{
	width:100%;
	max-height:130px;
}
.photo .cap{
	border-top:1px #ddd solid;
}

.con_top {
	text-align:center;
}
.con_top .thumbnail{
	border:0;
}
.con_top p{
	font-size:1.8rem;
	line-height:2.5rem;
}
.con_top2 h3{
	font-size:2rem;
	font-weight:700;
	color:#333
}

.con_top2 .thumbnail{
	padding:2.5rem;
	border:0;
}

.con_top2 .w{
	width:93%;
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow:2px 2px 8px #888; 
	-webkit-box-shadow:2px 2px 8px #888; 
	box-shadow:2px 2px 8px #888;
	padding:20px;
}

.con_top2 p{
	font-size:2rem;
}
.con_top2 img{
	margin-bottom:30px;
}

.con_top2 p a{
	font-weight:700;
}
.cen_last .p{
	height:2.4rem;
	line-height:1.2rem;
}

.cen_last img{
	margin-top:1.5rem;
}
.cen_last .thumbnail:hover{
	border:1px #006EB8 solid;
}
.cen_top5 .bg1{
	width:100%;
	height:430px;
}
.cen_top5 .bg2{
	width:100%;
	height:210px;
}
.cen_last .bg{
	width:720px;
	height:520px;
}
.bd_430{
	height:430px;
	border:1px #ddd solid;
}
.bd_430 h3{
	color:#666666;
	padding:20px 0 20px 30px;
	text-align:left;
}
.bd_430 .bd_50{
	width:100px;
	height:3px;
	margin-left:30px;
}
.bd_430 p{
	padding:30px;
	font-size:18px;
	line-height:3rem;
	text-align:left;
}
.bg_F0F7FB{
	background-color:#F0F7FB;
}
.cen_lb .carousel-control.left{
	background:#ccc;
	height:40%;
	width:50px;
	top:30%;
}
.cen_lb .carousel-control.right{
	background:#ccc;
	height:40%;
	width:50px;
  top:30%;
}
.cen_lb .carousel-control .fa-chevron-left{
	font-size:3rem;
	margin-top:3.3rem;
	margin-left:-8px;
}
.cen_lb .carousel-control .fa-chevron-right{
	font-size:3rem;
	margin-top:3.3rem;
	margin-right:-8px;
}
.cen_top6 .t_l p{
	font-size:16px;
	line-height:3rem;
}

.cen_top6 .t_l{
	background-color:#FFF;
	height:350px;
}
.cen_top6 .t_r{
	height:350px;
}

.cen_top6 .t_r img{
	width:100%;
}
.cen_top6 .t_r .carousel-indicators{
	left:90%
}
/* footer */
footer {
	z-index:0;
	background:#171c2d;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
}
footer a:hover,footer a:focus {
	color:#006EB8;
	text-decoration:none;
}
footer a {
	color:#fff;
}
footer .main-footer {
	border-bottom:1px solid #282d3f;
}
footer .main-footer ul.footer-menu li a {
	font-weight:500;
	font-size:18px;
}
footer .main-footer ul.footer-menu {
	display:table;
	width:100%;
	margin-top:10px;
}
footer .main-footer ul.footer-menu li {
	display:block;
	text-align:center;
	padding:5px;
	padding-top:5px;
	padding-bottom:5px;
}
footer .main-footer .lang-select {
	text-align:center;
}
footer button,footer a.btn {
	background-color:#171c2d;
	filter:none;
	padding:12px 15px;
	color:#fff;
	font-size:15px;
	white-space:normal;
	border:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-transition:background-color .4s ease;
	transition:background-color .4s ease;
}
footer .main-footer .lang-select button {
	background:transparent;
	padding:12px 15px;
}
footer button span,footer a.btn span,footer input.btn span {
	color:inherit !important;
}
footer .main-footer .lang-select button span {
	margin:0 8px;
	text-transform:uppercase;
}
footer .main-footer .lang-select button .svg-icon {
	height:18px;
	width:18px;
	margin-top:-3px;
}
footer .main-footer .lang-select ul li a {
	color:#006EB8;
}
footer .sub-footer span.copyright {
	font-size:12px;
	text-align:center;
	padding:20px 15px 0 0;
	float:left;
	width:100%;
}
footer .sub-footer {
	margin-top:20px;
}
.list-inline {
	padding-left:0;
	list-style:none;
	margin-left:-5px;
}
footer .sub-footer ul.sub-menu {
	padding:0;
	margin-top:4px;
	float:left;
	width:100%;
}
footer .sub-footer ul.sub-menu > li {
	margin-left:0;
	padding:0;
	text-transform:uppercase;
	display:block;
	text-align:center;
}
footer .main-footer .lang-select ul {
	left:50%;
	margin-left:-80px;
}
footer .sub-footer ul.sub-menu > li a {
	font-size:12px;
}
footer .sub-footer ul.social-menu > li a .icon {
	display:inline-block;
	vertical-align:middle;
	height:32px;
	width:32px;
	font:normal normal normal 15px/2 FontAwesome;
	background-color:#282d3f;
	-webkit-transition:background-color .4s ease;
	transition:background-color .4s ease;
}
footer .sub-footer ul.social-menu {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
footer .sub-footer ul.social-menu>li a .icon {
	display:inline-block;
	vertical-align:middle;
	height:32px;
	width:32px;
	font:normal normal normal 15px/2 FontAwesome;
	background-color:#282d3f;
	-webkit-transition:background-color .4s ease;
	transition:background-color .4s ease
}
footer .sub-footer ul.social-menu>li a .icon:before {
	position:relative;
	top:2px
}
footer .sub-footer ul.social-menu>li a .linkedin:before {
	content:"\f0e1"
}
footer .sub-footer ul.social-menu>li a .linkedin:hover {
	background-color:#0077b5
}
footer .sub-footer ul.social-menu>li a .twitter:before {
	content:"\f099"
}
footer .sub-footer ul.social-menu>li a .twitter:hover {
	background-color:#55acee
}
footer .sub-footer ul.social-menu>li a .facebook:before {
	content:"\f09a"
}
footer .sub-footer ul.social-menu>li a .facebook:hover {
	background-color:#3b5998
}
footer .sub-footer ul.social-menu>li a .youtube:before {
	content:"\f16a"
}
footer .sub-footer ul.social-menu>li a .youtube:hover {
	background-color:#cd201f
}
footer .sub-footer ul.social-menu>li a .newsletter:before {
	content:"\f0e0"
}
footer .sub-footer ul.social-menu>li a .newsletter:hover {
	background-color:#23b363
}
footer .sub-footer ul.social-menu>li a .supportforums:before {
	content:"\f044"
}
footer .sub-footer ul.social-menu>li a .supportforums:hover {
	background-color:#f87f14
}
footer .sub-footer ul.social-menu>li a .weibo:before {
	content:"\f18a"
}
footer .sub-footer ul.social-menu>li a .weibo:hover {
	background-color:#d52729
}
footer .sub-footer ul.social-menu>li:last-child {
	margin-right:0
}
footer .sub-footer ul.social-menu>li a:hover,footer .sub-footer ul.social-menu>li a:focus {
	color:#fff;
	text-decoration:none
}

/*media*/
@media (max-width:992px) {
	.navbar-logo {
	height:36px;
	margin-top:4px;
}
.nav>li>a {
	letter-spacing:.8px;
	font-size:13px;
	padding-left:8px;
	padding-right:8px;
}
.navbar-text {
	margin-left:0px;
}
}.navbar-brand {
	height:90px;
	overflow:hidden;
}
@media(min-width:992px) {
	footer .main-footer ul.footer-menu li {
	display:table-cell;
	padding-top:0;
	padding-bottom:0;
}
footer .main-footer .lang-select button {
	padding:12px 0;
	line-height:inherit
}
footer .sub-footer span.copyright {
	font-size:12px;
	display:inline-block;
	width:auto;
	padding:6px 15px 0 0;
}
footer .sub-footer ul.sub-menu {
	float:none;
}
footer .sub-footer ul.sub-menu > li {
	display:inline-block;
}
footer .sub-footer ul.sub-menu > li a {
	margin-left:15px;
}
}@media(min-width:768px) {
	nav .container ,footer .container ,.jumbotron .container,.containn .container{
	width:1300px;
}
.navbar-right {
	margin-right:10px;
}
.navbar-fixed-top .navbar-brand {
	padding:15px 0;
}
.navbar-toggle {
	margin-top:20px;
}
.nav > li > a {
	padding:12px 20px 10px;
}
.navbar-nav > li > .dropdown-menu {
	top:70px;
}
.learn-more{
	float:right;
}
.con_text{
	padding-left:70px;
	float:right;
}
}@media (max-width:768px) {
	h1 {
	font-size:32px;
	font-weight:500;
	line-height:1.25em;
}
.nav>li>a {
	letter-spacing:1px;
	padding-left:16px;
	padding-right:16px;
}
.navbar-header {
	margin-bottom:0;
}
.navbar-toggle {
	padding-top:10px;
	margin-top:10px;
}
.navbar-logo {
	height:40px;
	margin-top:6px;
}
.top-dark .container{
	padding-right:0;
}
.companies li {
	width:30%;
}
body {
	padding-top:100px;
}
.navbar-brand {
	height:60px;
}
.navbar-fixed-top .nav {
	padding:15px 0;
}
.more-div{
	text-align:center;
}
.learn-more{
	margin-top:8px;
}

.cen_top5 .bg2{
	margin-top:10px;
	margin-bottom:10px;
}
.cen_last .bg{
	margin-top:10px;
	margin-bottom:10px;
}
}